@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    color: #fff;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
}

.container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ac4257f1-2f82-40fc-8fed-a2e14c7c6400/d9skkg9-ab13c165-5601-498a-94a1-1b3597b49cf0.jpg/v1/fill/w_1024,h_792,q_75,strp/regular_show_casa_by_frankro_d9skkg9-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzkyIiwicGF0aCI6IlwvZlwvYWM0MjU3ZjEtMmY4Mi00MGZjLThmZWQtYTJlMTRjN2M2NDAwXC9kOXNra2c5LWFiMTNjMTY1LTU2MDEtNDk4YS05NGExLTFiMzU5N2I0OWNmMC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.NRcr8I0TFJFCBu03MCMNywQBv64NeEPU6OC_oNWW7Pg);
    background-size: cover;
}

.container2{
    width: 40%;
    height: 100%;
    border-left: solid 1px #fff;
    display: flex;
    flex-direction: column;
}

.powerup{
    width: 100%;
    height: 16.66%;
    border-bottom: solid 1px #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.powerup h1{
    align-self: center;
}

.preco_bonus{
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.clicker{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}