@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    color: #fe2b44;
    font-weight: 1000;
}

#botao_enviarProBanco{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    justify-self: flex-start;
    background-color: #fe2b44;
    border: solid 2px gold;
    border-radius: 3em;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
}

.container{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/img/gymBg1jpeg.jpeg);
    background-size: cover;
}

.container_botao{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.container2{
    width: 40%;
    height: 100%;
    border-left: solid 2px rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
}

.powerup{
    width: 100%;
    height: 16.66%;
    background-image: url(assets/img/pedra.png);
    border-bottom: solid 5px rgb(100, 100, 100);
    color: #000;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
}

.powerup h1{
    align-self: center;
}

.preco_bonus{
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.clicker{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}